parameters:
    level: 8
    paths:
        - scripts
        - docs
        - docker
        - .github
    excludePaths:
        - vendor
        - node_modules
        - storage (?)
        - bootstrap/cache (?)
    ignoreErrors: []
