includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)
        - app/Http/Kernel.php (?)
        - app/Providers/AppServiceProvider.php (?)
        - app/Providers/AuthServiceProvider.php (?)
        - app/Providers/EventServiceProvider.php (?)
        - app/Providers/RouteServiceProvider.php (?)
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::#'
